---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import CodeIcon from '../components/icons/Code.astro';

---

<Layout 
title="Gonzalo Gutiérrez - Contacto"
description="Contrata a Gonzalo Gutiérrez (@gonza_dvui) Trainee fullstack en desarrollo web y móvil. Diseñador UX/UI. De Arequipa, Perú. Apasionado por crear aplicaciones significativas y desafiantes."
>
	<main class="px-4 mb-auto pt-12">
		<SectionContainer id="projects" class="py-6 sm:py-16 lg:py-14 2xl:py-16">
			<h2 class="text-gray-200 text-2xl font-semibold mb-6 flex gap-x-3">
				<CodeIcon class="size-7"></CodeIcon>
				Proyectos
			</h2>
			<!-- <Projects></Projects> -->
		</SectionContainer>

	</main>
</Layout>