---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import BriefCase from '../components/icons/BriefCase.astro';
import CodeIcon from '../components/icons/Code.astro';
import CardMenu from "../components/CardMenu.astro";
import ProjectGalleryAstro from '../components/ProjectGallery.astro';
import ProjectGalleryReact from '../components/ProjectGallery/ProjectGallery';
---

<Layout 
title="Gonzalo Gutiérrez - Proyectos"
description="Contrata a Gonzalo Gutiérrez (@gonza_dvui) Trainee fullstack en desarrollo web y móvil. Diseñador UX/UI. De Arequipa, Perú. Apasionado por crear aplicaciones significativas y desafiantes."
>
	<main class="px-4 mb-auto pt-12">
		<SectionContainer id="projects" class="py-6 sm:py-16 lg:py-14 2xl:py-16 flex flex-col gap-y-2 sm:gap-y-3 md:gap-y-4 lg:gap-y-5">
			<h2 class="text-gray-200 text-3xl font-semibold mb-6 flex gap-x-2 self-center">
				<CodeIcon class="size-9"></CodeIcon>
				Proyectos
			</h2>
            <ProjectGalleryReact client:load></ProjectGalleryReact>
		</SectionContainer>

	</main>
</Layout>