<figure class="w-[50%] max-w-[190px] sm:max-w-none sm:w-[30%] md:w-[90%] lg:w-[110%] lg:self-start">
    <img class="object-cover rounded-lg shadow-lg w-full"  src='/profile_photos/perfil_2023.jpeg' alt="about me image" />
</figure>
  <article class="text-gray-200/80 flex flex-col gap-2">
      <header class="pb-1">
          <h2 class="text-lg lg:text-xl font-medium text-center md:text-start">"Aprender, idear, ejecutar"</h2>
      </header>
    <p class="font-extralight text-pretty text-sm lg:text-base">
        Esa es mi filosofía de vida, siempre en constante aprendizaje, ideando
        nuevas formas de mejorar y ejecutando todo lo que se me proponga. 
    </p>
    <p class="font-extralight text-pretty text-sm lg:text-base">
        Soy Gonzalo Gutiérrez (24), estudiante de desarrollo de software y arquitectura de TI, apasionado por la tecnología y el desarrollo web.
    </p>
    <p class="font-extralight text-pretty text-sm lg:text-base">
        Desde los 10 años le encontré el gusto por las matemáticas, al darme cuenta de los satisfactorio que es resolver un problema de diferentes maneras, por eso me encanta la programación, al igual que la musica, el piano, los idiomas, la fotografía, y el diseño.
    </p>
  </article>
