---
// Supports weights 100-900
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
//import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description: string
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Gonzalo Enrique Gutierrez Castillo" />
		<meta name="keywords" content="Gonzalo Enrique Gutierrez Castillo, Gonzalo, Enrique, Gutierrez, Castillo, Software, Developer, Frontend, Backend, JavaScript, TypeScript, NodeJS, React, Angular, Vue, Svelte, Express, MongoDB, MySQL, PostgreSQL, HTML, CSS, Tailwind, Bootstrap, Materialize, Bulma, Chakra, Figma, Design, UX, UI, Web, Mobile, PWA, SEO, Google, Firebase, AWS, Azure, Vercel, Netlify, Heroku, Cloud, Serverless, Static, Dynamic, SSR, CSR, SPA, MPA, PWA, JAMstack, Headless, CMS, Web, Mobile, Social, Media, Facebook, Twitter, Instagram, LinkedIn, GitHub, GitLab, Bitbucket, WhatsApp, Signal, Messenger, Email, Phone, Contact, About, Portfolio, Blog, Projects, Services, Skills, Experience, Education, Certifications" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <ViewTransitions></ViewTransitions> -->
		<!-- <link rel="stylesheet" href="./src/index.css"> -->
		<!-- <script>
			//Iniciar la pagina en modo dark
			localStorage.setItem('color-theme', 'dark');
	  
			if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark')
			}
		</script> -->
	</head>
	<body>
		<div class="fixed left-0 top-0 -z-10 h-full w-full">
			<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		</div>

		<div class="relative h-screen flex flex-col justify-between">
			<Header></Header>
			<slot />
			<Footer></Footer>
			
		</div>
		<script is:inline src="/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family:'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body{
		background: #050505;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	@media (prefers-reduced-motion:reduce){
		html{
			scroll-behavior: auto;
		}
	}
</style>
